<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Belajar TestNG Suite">
  <test name="App Test">
    <parameter name="username" value="johansebastian"></parameter>
    <parameter name="invalidUsername" value="jonosebastian"></parameter>
    <parameter name="password" value="123qwe"></parameter>
    <parameter name="email" value="johan@sebastian.com"></parameter>

    <groups>
      <run>
        <include name="setup"></include>
        <include name="negative-test"></include>
      </run>
    </groups>

    <classes>
      <class name="com.juaracoding.btestng.AuthenticationTest"></class>
    </classes>
  </test>
</suite>